<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
  </div>
  <nav class="navbar navbar-default see-behind">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li class="menu-option"><a routerLink="">Home</a></li>
        <li class="menu-option"><a routerLink="about">About</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer see-behind">
    <div class="container">
      <a class="text-muted menu-option" routerLink="admin">Admin</a>
    </div>
  </footer>

</div>
