<h4>Edit Member</h4>

<label>Member Name: </label>
<input [(ngModel)]="selectedMember.name">
<br>

<label>Member Phone: </label>
<input [(ngModel)]="selectedMember.phone">
<br>

<label>Member Email: </label>
<input [(ngModel)]="selectedMember.email">
<br>

<label>Member Instrument: </label>
<input [(ngModel)]="selectedMember.instrument">
<br>

<label>Member Skills: </label>
<input [(ngModel)]="selectedMember.skills">
<br>

<label>Can Travel For Overnight Gigs? </label>
<select [(ngModel)]="selectedMember.travel">
  <option [value]=true> Yes </option>
  <option [value]=false> No </option>
</select>
<br><br>

<button class="btn btn-info" (click)="beginUpdatingMember(selectedMember)">Update Member</button>
<button class="btn btn-danger" (click)="beginDeletingMember(selectedMember)">Delete Member</button>
<br>
