<div class="container">
  <div class="panel panel-default see-behind">
    <div class="panel-heading">
      <h3>List of Band Members: </h3>
    </div>
    <div class="panel-body">
      <div *ngFor="let member of members | async" class="thumbnail">
        <h4 class="clickable" (click)="goToDetailsPage(member)" >{{member.name}} <em> | {{member.instrument}}</em></h4>
        <div *ngIf="currentRoute === '/admin'">
          <hr>
          <app-edit-member [selectedMember]="member"></app-edit-member>
        </div>
      </div>
    </div>
  </div>
</div>
